<% @doctor.appointments.each do |a| %>
    <p>Appointment Time:</p>
   <%= a.appointment_datetime.strftime("%B %d, %Y at %H:%M")%>
   <p>Patient:</p>
   <%=link_to a.patient.name, patient_path(a.patient)%>
   <% end %>



